* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("../images/main-bg.jpg");
    transition: background-image 1.2s ease-in;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.day-bg {
    background-image: url("../images/day-bg.jpg");
}

body.night-bg {
    background-image: url("../images/night-bg.jpg");
}

.card {
    width: 90%;
    max-width: 470px;
    /* background: linear-gradient(135deg, #00eaff4d, #5b548a40); */
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    transition: background-color 1s ease, box-shadow 1s ease, transform 0.6 ease;
}

.card.day {
    background: linear-gradient(135deg, #00eaff95, #5b548a);
    box-shadow: 0 10px 30px rgba(0, 0, 0);
}

.card.night {
    background: linear-gradient(135deg, #0b1023, #1a2352ae);
    box-shadow: 0 10px 40px rgba(0, 0, 0);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.weather-icon.fade {
    opacity: 0;
    transform: scale(0.85);
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
    animation: fadeInUp 0.8s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}